/** Your theme modifications here **/
/*#top {
	background: #fff;
}

#top ul.menu > li a {
  color: #9a9a9a;
}

.navbar {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  min-height: 150px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid transparent;
}*/

#footer {
	margin-top: 30px;
}
#footer .social {
  text-align: left;
  margin-top: 20px;
}

.img {
	padding-top: -5px;
}