/** Your theme modifications here **/
/*#top {
  background: #fff;
}

#top ul.menu > li a {
  color: #9a9a9a;
}

.navbar {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  min-height: 150px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid transparent;
}*/

#footer {
  margin-top: 30px;
}

#footer .social {
  text-align: left;
  margin-top: 20px;
}

.box {
  margin: 10px 0 30px;
}

#hot h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ribbon .theribbon {
  width: 100px;
  padding: 6px 20px 6px 10px;
}

.partners {
  text-align: left;
}

.navbar-brand {
  padding: 5px 15px;
}

a, h1, h2, h3, h4, p {
  font-family: 'Roboto Mono', monospace;
}

.navbar ul.nav > li > a {
  font-size: 20px;
}

.navbar .yamm-content ul li a {
  font-size: 14px;
}

.box {
  padding: 20px
}

.price del {
    color: #999999;
}

#content #mainImage {
  margin-top: 10px;
}

#content .product {
  margin-top: 10px;
}

#content #details .social p a.vk {
  background-color: #2a5885;
}

#content #details .social p a.instagram {
  background-color: #cd4378;
}

#footer .social a.vk:hover {
  background-color: #2a5885;
}

.small-logo {
  padding-top: 15px;
}

.slider-background {
  background-color: #FFF;
  padding-top: 20px;
}

.ads-banner {
  padding-right: 0px;
  padding-left: 0px;
}

.img-detailed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.background-detailed {
  background-color: #fff;
}

.dimensions {
  display: flex;
  margin-bottom: 10px;
}

.item-info p {
    margin-bottom: 0px;
    color: #c5c5c5
    vertical-align: middle;
    padding: 10px;

}