<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>О нас</h4>
                <ul>
                    <li><a href="#">О Miminko.Ru</a>
                    </li>
                    <li><a href="#">Публичная оферта</a>
                    </li>
                    <li><a href="#">Контакты</a>
                    </li>
                </ul>
                    
            </div>
            <!-- /.col-md-3 -->
            <% @categories.each do |category| %>
                <div class="col-md-3 col-sm-6">
                    <h4><%= category.name %></h4>
                    <ul>
                    <% @products.all.product_by_category(category.category_id).each do |product| %>
                        <li><a href="#"><%= product.name %></a>
                        </li>
                    <% end %>    
                    </ul>
                    
                </div>    
            <% end %>    
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">
                <h4>Отслеживайте нас</h4>
                <p class="social">
                    <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->