<div class="item">
    <div class="product">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <a href="detail.html">
                        <img src="http://placehold.it/450x600" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="back">
                    <a href="detail.html">
                        <img src="http://placehold.it/450x600" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
        <a href="detail.html" class="invisible">
            <img src="http://placehold.it/450x600" alt="" class="img-responsive">
        </a>
        <div class="text">
            <h3><a href="detail.html">Белая Майка Армани</a></h3>
            <p class="price"><del>₽280</del> ₽143.00</p>
        </div>
        <!-- /.text -->

        <div class="ribbon sale">
            <div class="theribbon t-sale">SALE</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->

        <div class="ribbon new">
            <div class="theribbon">НОВИНКА</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->

        <div class="ribbon gift">
            <div class="theribbon">ПОДАРОК</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->
    </div>
    <!-- /.product -->
</div>
