<!-- *** NAVBAR *** -->
<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <!--  TODO: Fix logo sizes -->
                <img src="http://placehold.it/350x60" alt="Miminko.Ru - logo" class="hidden-xs">
                <img src="http://placehold.it/93x60" alt="Miminko.Ru logo" class="visible-xs"><span class="sr-only">
                Miminko.Ru  - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 в корзине</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
            <% @categories.each do |category| %>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"><%= category.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul>
                                            <% @products.each do |product| %>
                                                <% if product.category_id == category.category_id %> 
                                                    <li><a href="category.html"><%= product.name %></a>
                                                    </li>
                                                <% end %>    
                                            <% end %>    
                                            
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="http://placehold.it/620x410" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">    
                                        <div class="banner">
                                            <a href="#">
                                                <img src="http://placehold.it/620x410" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                     <div class="col-sm-3 hidden-xs">    
                                        <div class="banner">
                                            <a href="#">
                                                <img src="http://placehold.it/620x410" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <% end %>
            </ul>

        </div>
        <div class="navbar-buttons">
            <div class="navbar-collapse collapse right" id="basket-overview">
                <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 в корзине</span></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->
    