<!-- *** NAVBAR *** -->
<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="/">
                <!--  TODO: Fix logo sizes -->
                <img src="/img/logo-big.png" alt="Miminko.Ru - logo" class="hidden-xs">
                <img src="/img/logo-small.png" alt="Miminko.Ru logo" class="visible-xs small-logo"><span class="sr-only">
                Miminko.Ru  - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">0 в корзине</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
            <% @categories.each do |category| %>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"><%= category.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul>
                                            <% @products.all.product_by_category(category.category_id).sort.each do |product| %>
                                                <li><a href="/products/<%= product.id %>"><%= product.name %></a>
                                                </li>
                                            <% end %>
                                            
                                        </ul>
                                    </div>
                                    <% @products.all.product_by_category(category.category_id).shuffle.take(3).each do |product| %>
                                        <div class="col-sm-3 hidden-xs">
                                            <div class="banner">
                                                <a href="products/<%= product.id %>">
                                                    <img src="<%= product.banner_url %>" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>
            <% end %>
            </ul>
        </div>
        <div class="navbar-buttons">
            <div class="navbar-collapse collapse right" id="basket-overview">
                <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">0 в корзине</span></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->
    