<!-- *** NAVBAR *** -->
<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="index.html">
                <img src="img/logo.png" alt="Miminko.Ru - logo" class="hidden-xs">
                <img src="img/logo.png" alt="Miminko.Ru logo" style="width:185 px;margin-top:10px" class="visible-xs"><span class="sr-only">Miminko.Ru  - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 в корзине</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">малышам <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><a href="category.html">Комбинезоны</a>
                                            </li>
                                            <li><a href="category.html">Бодики</a>
                                            </li>
                                            <li><a href="category.html">Футболки</a>
                                            </li>
                                            <li><a href="category.html">Платья / Юбки</a>
                                            </li>
                                            <li><a href="category.html">Штаны</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="img/banner2.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">    
                                        <div class="banner">
                                            <a href="#">
                                                <img src="img/banner.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Мальчикам <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><a href="category.html">Футболки</a>
                                            </li>
                                            <li><a href="category.html">Штаны</a>
                                            </li>
                                            <li><a href="category.html">Джемперы</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="img/banner.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">    
                                        <div class="banner">
                                            <a href="#">
                                                <img src="img/banner2.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Девочкам <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul>
                                            <li><a href="index.html">Платья / Юбки</a>
                                            </li>
                                            <li><a href="category.html">Футболки</a>
                                            </li>
                                            <li><a href="category-right.html">Джемперы</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="img/banner2.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 hidden-xs">    
                                        <div class="banner">
                                            <a href="#">
                                                <img src="img/banner.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="navbar-buttons">
            <div class="navbar-collapse collapse right" id="basket-overview">
                <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 в корзине</span></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->
    