<!DOCTYPE html>
<html lang="en">

<head>
	<%= render "partials/head" %>
</head>

<body>
<%= render "partials/navbar" %>


    <div id="all">

        <div id="content">
            <div class="container">
				<%= render :partial => 'partials/item_detail', locals: {item: @item} %>
                
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


	<%= render "partials/footer" %>
	<%= render "partials/copyrights" %>



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/front.js"></script>






</body>

</html>